@import "tailwindcss";
/* 
body{
  background-color: black;
  height: 100%;
  width: 100%;
} */

html,
body {
  /* background-color: rgb(48, 16, 206); */
  background-color: rgb(243, 239, 239) ;
  overflow-x: hidden;
  width: 100%;
  height: 100%   ;
}

/* ensure all child elements do not exceed the viewpoint width */
* {
  /* max-width: 100%; */
  box-sizing: border-box;
}



/* @keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos:hover .logo_items {
  animation-play-state: paused;
} */